body{
    background-color: lightblue;
}
h1{
    text-align: center;
}

p {
    text-align: left;
    font-family: Verdana, serif;
    color: floralwhite;
    width: 500px;
    border: 2px solid Gray;
}

